<p id="notice"><%= notice %></p>
<% @events.each do |event| %>

  <div class="wrapper">
    <div class="main">
      <section class="page1">
        <div class="page_container">
          <h1><%= event.name %></h1>
          <h1>
            <a href="#"><%= event.details %><br>
              <small><%= event.details %> |<br>
                    <%= event.address %>
              </small>
            </a>
          </h1>
        </div>
      </section>
    </div>
  </div>
<% end %>
