


<p id="notice"><%= notice %></p>

<br><br>
<% @events.each do |event| %>

<!--   <div class="wrapper">
    <div class="main">

      <section class="page1"> -->
        
<div class="eventcontainer">
         <%= image_tag event.photo.url(:medium), class: "eventimage" %>
         <!-- class: "eventspic" -->
<div class="details">
  <a href="#">download <span>recipe<span></a>
          <h1><%= event.name %></h1>
<br><br>

<br><br>
              <small><%= event.date %> <br>
<br><br>        
                    <%= event.address %>

              </small>
            </a>
            <%= link_to 'Show', event %>
        </div>
     <!--  </section>
    </div>
  </div> -->
<% end %>
